body {
    background-color: #eaeaea;
}

#navbar-user-img {
    max-height: 2rem;
}

.nav-link {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    padding-left: 1rem;
    margin-left: 2rem;
}

.nav-link:hover {
    background-color: #055646;
    color: white;
}

.nav-link-active {
    border-left: 0.5rem solid white;
    /* padding-left: 1rem; */
}

.min-h-viewport {
    min-height: 100vh;
}